
.owner-dashboard {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    background-color: rgba(255, 255, 255, 0.8); 
    z-index: 1; 
  }

  .owner-dashboard .table-container {
    margin-top: 20px;
  }
  .status-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    left: 2rem;
  }
  .pending { background-color: yellow; }
  .accepted { background-color: blue; }
  .rejected{background-color: red;}
  .ready { background-color: orange; }
  .completed { background-color: green; }
  .tick-mark::after {
    content: '\2713'; 
    font-size: 10px;
    color: white;
    display: inline-block;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 12px;
    border-radius: 50%;
    background-color: green; 
  }
  
  
  .owner-dashboard .btn-logout {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .owner-dashboard::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/home.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6; 
    z-index: -1; 
  }
  
  
.table-container {
  background-color: rgba(255, 255, 255, 0.5); 
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  width: 80%;
  z-index: 2; 
}
  
.table-container .table {
    background-color: transparent !important; 
    border: none !important; 
    border-collapse: collapse;
    margin-bottom: 0; 
  }
  
  .table-container .table th,
  .table-container .table td {
    border: none !important; 
  }
  
  .table-container .table th,
  .table-container .table td {
    background-color: transparent !important; 
  }
  
  .table-container .table thead th {
    border-bottom: none !important; 
  }
  
 
  .table-container .table tbody tr {
    background-color: rgba(255, 255, 255, 0.5); 
  }
  
  .table-container .table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.7); 
  }
  
  
  
  
  .service-image {
    width: 100px;
    height: auto;
    border-radius: 5px;
  }
  
  
  .booking-details {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    z-index: 2; 
  }
  
  .booking-details:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  