.modal.login-modal {
    display: flex;
    position: absolute;
    max-width: 25rem; 
    left: 37rem;
    margin: auto; 
  }
  
  .form-control.underline-input {
    border: none; 
    border-bottom: 2px solid #ccc; 
    border-radius: 0; 
    outline: none; 
    box-shadow: none; 
    width: 100%; 
    padding: 0.5rem 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
  }
  
  .form-control.underline-input:focus {
    border-bottom: 2px solid #007bff; 
  }
  
  .text-danger {
    margin-top: 0.5rem;
  }
  .login-btn {
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: relative;
     left: 2rem;
     
   
  }